.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr 2fr);
}

/* style pendukung */
.wrapper div {
  border: 2px dotted slategray;
  padding: 15px;
  background-color: white;
}

.wrapper {
  padding: 8px;
  background-color: bisque;
  border: 2px dotted slategray;
}
